{% include 'header.twig' %}

<div class="container">
    <div class="starter-template">
        <h1>My Book Catalogue</h1>
        <div class="meta">
          <p><a href="index.php" class="glyphicon glyphicon-home"></a> | Language Filter: {% if filtered == true %} {{ language }} {% else %} (none) {% endif %} | Sort by: {% if sorted == true %} {{ sortedBy }} {% else %} (none) {% endif %}</p>
        </div>
        <hr />

        <div>
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th><a href="?list=sorted&by=Title">Title</a></th>
                    <th class="author"><a href="?list=sorted&by=Author">Author</a></th>
                    <th><a href="?list=sorted&by=Year">Year</a></th>
                    {% if hideLanguagesField != true %}<th><a href="">Language</a></th>{% endif %}
                  </tr>
              </thead>
              <tbody>
                  {% for book in books %}
                  <tr>
                      <td class="text-center">{{ book.id }}</td>
                      <td>{{ book.title }}</td>
                      <td class="author">{{ book.author }}</td>
                      <td>{{ book.year }}</td>
                      {% if hideLanguagesField != true %}
                        <td><a href="?list=filtered&filter=language-{{ book.language }}">{{ book.language }}</a></td>
                      {% endif %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</div>

{% include 'footer.twig' %}